 body{
  
	 height: 400px;
    padding-left: 0px;
	 background-color: black;
 
	}
#footerHeaderLogo img{
	background-color: bule;
	height: 80px;
	width: 80px;

}
#footerHeaderSLink
{
	float: left;
}
table{
	width: 100%;
}
#footerHeaderSLink img
{
	height: 30px;
	width: 30px;
}
#MainFooter {
     width: auto;
     height: auto;
     clear: both;
     text-align: center;
     padding: 5px;
 }
 #footerHeader {
     width: auto;
 }
 
 #footerHeaderLogo {
     display: block;
 }
 #footerHeader td{
 width: 50%;
 }
 #footerHeader ul {
     list-style: none;
     width: 600px;
     height: 100px;
     float: right;
	 
 }
 
 #footerHeader ul li {
     height: 40px;
     width: 30px;
     text-align: center;
     top: 40px;
     float: left;
     position: relative;
 }
  #footerHeader ul li a {
     text-decoration: none;
     font-weight: bold;
     display: block;
 }
  #footerHeader ul li a img{
	  padding: 4px;
  }
  
  #footerBoby ul {
     list-style: none;
 }
 
 #footerBoby ul li {
     height: 40px;
     width: 130px;
     text-align: center;
     line-height: 40px;
     position: relative;
 }
 
 #footerBoby ul li a {
     text-decoration: none;
     font-size: 18px;
     color: white;
     font-weight: bold;
     display: block;
 }
 
 #footerBoby ul li a:hover {
     color: white;
     background: green;
 }
 #copyright{
	 color: white;
 }